# JWT configuration (Debe ser una clave secreta en Base64 de al menos 256 bits)
JWT_SECRET_KEY=tu_clave_secreta_aqui
JWT_EXPIRATION_TIME=86400000

# Security passcode for Admin registration
ADMIN_PASSCODE=tu_codigo_secreto_aqui
